body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 4rem;
    color: #f1faee;
    background: url(img.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    display: block;
    position: absolute;
    
   
}


header {
    font-size:64px;
    text-align:center;
    
    margin:10px;
    background: linear-gradient(to right,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
            -webkit-background-clip: text;
            color: transparent;
}

main {
    font-size: 36px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    text-decoration: solid;
    justify-content: center;
    padding: 2rem;
    color: #060705; 
    
    
    
}

main > ul {
    color: #d9ff00;
    list-style-type: square;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 15px;
    letter-spacing: 3px;
    text-decoration: double;

    
}

main > sub-title {
    font-size: 42px;
    font-weight: 900;
    text-decoration: solid;
    color: rgba(238, 25, 25, 0.596);
    text-decoration-thickness: 2px;
    padding: 16px;
    
}


footer {
    padding: 17px 30px;
    margin-top: 10px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;
}

button{
    font-size:26px;
    font-weight: 600;
    height:64px;
    color:#060705; 
    background: linear-gradient(to right, #ff105f, #ffad06);
    width: 480px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    border:none;
    border-radius:20px;
}
