/* public/style.css */
@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

/*For layout.pug*/
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 4rem;
    color: #f1faee;
    background: url(img.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: url(img.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    display: block; */
    position: absolute; 
    text-align: center;
    align-items: center;
}

header {
    font-size:64px;
    text-align:center;
    margin:10px;
    background: linear-gradient(to right,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
                -webkit-background-clip: text;
                color: transparent;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    padding: 15px;
    font-family: "Share Tech Mono", monospace;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    */        
}

/* #header {
    color: #f1faee;
} */
/* .header-content {
    color: #f1faee;
} */

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #f1faee;
  padding: 0;
  margin: 0;
}

#OTP{
    font-size:72px;
    text-align:center;
    margin:10px;
    
    background: linear-gradient(to right,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
                -webkit-background-clip: text;
                color: transparent;
}

main {
    font-size: 36px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    text-decoration: solid;
    padding: 2rem;
    justify-items: center;
    text-align: center;
    align-items: baseline;   
}
    /* background: url(img.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */      
    

/* main > ul {
    color: #d9ff00;
    list-style-type: square;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 15px;
    letter-spacing: 3px;
    text-decoration: double;   
} */

/* main > sub-title {
    font-size: 42px;
    font-weight: 900;
    text-decoration: solid;
    color: rgba(238, 25, 25, 0.596);
    text-decoration-thickness: 2px;
    padding: 16px;   
} */

/* p {
    color: #f1faee;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
} */

#main {
    display: block;
    align-items: center;
    text-align: center;
    background-color: #8695a3;
}

#list-head {
    color: #43e40d;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: 3px;
    list-style: square;
    font-size: 48px;
}
#list-content {
    color: #ff105f;
    letter-spacing: -1px;
    padding-left: 12rem;
    font-size: 36px;
}

/* .request {
    color: #f1faee;
} */
button {
    font-size:30px;
    font-weight: 600;
    height:80px;
    color:#060705; 
    background: linear-gradient(to right, #ff105f, #ffad06);
    width: 528px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    border:none;
    border-radius:20px;
    padding-block: 2rem;
}
/* #btn {
    color: #121611;
} */

footer {
    padding: 17px 30px;
    margin-top: 10px;
    background: rgb(160, 156, 156);
    border: none;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;
    text-align: center;
    text-decoration: underline;
    text-decoration: solid;
}
#footer {
    color: #0526bb;
    font-size: 24px;
    
}















