extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner 201b153
    div.Message
      div.Title
        h1 Food For Devs
      span.Details Access the 201b53 Team Portal
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton We will see you late!!
      else
        a(href="/login")
          div.NavButton Log in