block variables 
doctype html 
html 
    head 
        script (src = "/public/client.js")
        //link(rel="stylesheet", href="/style.css")app.use(express.static(path.join(__dirname, "public")));
        meta(charset="utf-8")
        link(rel="shortcut icon", href="/favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        title #{title} | Registration Portal 
        //script(src='/public/client.js')
        link(rel='stylesheet', href = "style.css")
    body 
        header#header 
            .header-content 
                h2#OTP OTP Registration Portal
        main#main                
            ul#list-head 
                tr  UserId 
                ||
                tr  otp
                
                each data in userData 
                    li 
                        p#list-content #{data.userId} | #{data.otp} 
            .request  
                button#btn createOTP
        footer#footer 
            p &copy; Copyright OTP, 2022.
        script 
           
            include client2.js 
        //script(src='/public/client.js')